/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-300.woff2") format("woff2"), url("../fonts/poppins-v15-latin-300.woff") format("woff"), url("../fonts/poppins-v15-latin-300.ttf") format("truetype"), url("../fonts/poppins-v15-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins-v15-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-300italic.woff2") format("woff2"), url("../fonts/poppins-v15-latin-300italic.woff") format("woff"), url("../fonts/poppins-v15-latin-300italic.ttf") format("truetype"), url("../fonts/poppins-v15-latin-300italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin-italic.woff") format("woff"), url("../fonts/roboto-v20-latin-italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin-700.woff") format("woff"), url("../fonts/roboto-v20-latin-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-700italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin-700italic.woff") format("woff"), url("../fonts/roboto-v20-latin-700italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/*
$jcGreen : #5dc72c;

$jcText : #343a40;
$jcTitle1 : $jcText;
$jcTitle2 : $jcOrange;
$jcSubtitle : #495057;
$jcBackground : #f7f7f7; //#0a192f;
$jcMenu : $jcBlue;
$jcIntern : $jcGreen;
*/
body {
  background-color: #001920;
  color: #d7d7d7 !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 13pt !important; }

.bg-primary {
  background-color: #001920 !important; }

.text-primary {
  color: #ff7400 !important; }

a, a:hover {
  color: #ff7400; }

.social-icons .social-icon:hover {
  background-color: #ff7400; }

h1, .h1 {
  color: #5CCCCC !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

h2, .h2 {
  color: #ff7400;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

h3, .h3,
h4, .h4,
h5, .h5 {
  color: #d0d0d0 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

h6, .h6 {
  color: #9d9d9d !important; }

.nav-item a {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.img-profile {
  border: 0.5rem solid #5CCCCC !important; }

a.pdf-link {
  padding-top: 20px;
  padding-bottom: 20px; }

.legal .btn-legal {
  font-size: 80%;
  font-weight: bolder;
  background-color: none;
  color: #d1f0f0;
  border: 1px solid #d1f0f0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 25px;
  height: 25px; }

ul.timeline {
  list-style-type: none;
  position: relative;
  padding-bottom: 20px; }
  ul.timeline:before {
    content: ' ';
    background: #5CCCCC;
    border: 3px solid #5CCCCC;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 4px;
    height: 100%;
    z-index: 400; }
  ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    padding-bottom: 10px; }
    ul.timeline > li:before {
      content: ' ';
      background: #001920;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 6px solid #5CCCCC;
      left: 20px;
      width: 24px;
      height: 24px;
      z-index: 400; }

div.internship {
  padding-top: 5px; }
  div.internship .btn,
  div.internship .btn:hover {
    background: #001920;
    color: #5CCCCC;
    border: 1px solid #5CCCCC;
    font-weight: normal;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px; }
  div.internship p {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #5CCCCC; }
    div.internship p span.title {
      font-weight: bold; }

.works-card {
  background: #001920;
  border: 1px solid #5CCCCC; }

.works-card .card-title {
  text-transform: none; }

.works-card img {
  border-bottom: 1px solid #d0d0d0; }

.works-card a {
  font-size: 90%; }

.works-card .link-icon {
  width: 18px;
  height: 18px;
  font-size: 90%;
  stroke-width: 1.8; }

.works-card .skill-tag {
  font-size: 90%;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: none !important;
  border: 1.2px solid #bebebe;
  color: #bebebe;
  border-radius: 20px;
  -webkit-border-radius: 20px; }

.experience-icon {
  stroke: #5CCCCC;
  stroke-width: 1.5; }

div.experience-facts {
  padding-left: 5px;
  margin-left: 10px;
  border-left: 1px solid #5CCCCC;
  font-size: 90%; }
  div.experience-facts ul {
    list-style: none;
    margin-left: 0; }

.skills .col {
  margin-left: 30px;
  margin-right: 30px; }

.skills .skills-icon {
  text-align: center;
  color: #5CCCCC; }

.skills .skills-title {
  margin-top: 10px;
  text-align: center;
  font-size: 150%;
  vertical-align: middle; }

.skills .skills-text {
  margin: 20px;
  text-align: justify; }

.skills .skills-tags {
  text-align: center; }
  .skills .skills-tags .badge {
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: none !important;
    border: 1px solid #ff7400;
    color: #5CCCCC;
    border-radius: 20px;
    -webkit-border-radius: 20px; }
  .skills .skills-tags .badge-major {
    padding: 10px;
    font-size: 110%; }
  .skills .skills-tags .badge-medium {
    padding: 8px;
    font-size: 90%; }
  .skills .skills-tags .badge-minor {
    font-size: 70%; }

.plus-life {
  font-size: 250%;
  padding: 15px; }

/*# sourceMappingURL=jnchrstph.css.map */