<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ $.Site.BaseURL }}/images/favicon.png">
    <title>{{ .Site.Title }}</title>
    <script src="{{ $.Site.BaseURL }}/js/feather.min.js"></script>
    <script src="{{ $.Site.BaseURL }}/js/jquery-3.5.1.min.js"></script>
    <script src="{{ $.Site.BaseURL }}/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}/css/bootstrap.min.css">
    {{ $SASSoptions := (dict "targetPath" "css/jnchrstph.css" "enableSourceMap" true) -}}
    {{- $CSS := resources.Get "sass/jnchrstph.scss" | toCSS $SASSoptions -}}
    <link href="{{ $.Site.BaseURL }}/css/resume-style.css" rel="stylesheet" />
    <link href='{{ $CSS.Permalink }}' rel='stylesheet'>
  </head>
  <body id="page-top">