<h2 class="mb-5">{{ .Title }}</h2>
<div class="card-columns">
{{ range .Params.data }}
  <div class="card works-card">
    {{- if .img -}}<img src="{{ $.Site.BaseURL }}/images/{{ .img }}" class="card-img-top" alt="{{ .title }}">{{ end }}
    <div class="card-body">
      <h5 class="card-title">{{ .title }}</h5>
      <p class="card-text">
      {{- if .details -}}{{ .details }}<br/>{{- end -}}
      {{- if .skills -}}<div class="mt-1 mb-2">{{range .skills }}<span class="badge skill-tag">{{ . }}</span>{{ end }}</div>{{- end -}}
      {{- if .github -}}<i data-feather="github" class="link-icon"></i>&nbsp;<a href="https://github.com/{{ .github }}" class="card-link" target="_blank">{{ .github }}</a><br/>{{- end -}}
      {{- if .url -}}<i data-feather="external-link" class="link-icon"></i>&nbsp;<a href="https://{{ .url }}" class="card-link" target="_blank">{{- if .url_label -}}{{ .url_label }}{{- else -}}{{ .url }}{{- end -}}</a><br/>{{- end -}}
    </p>
    </div>
  </div>
{{ end }}
</div>